##Q1. List any five functions of the pandas library with execution.
Ans - read_csv(): This function is used to read data from a CSV file and create a DataFrame.

head(): This function is used to display the first n rows of a DataFrame. By default, it displays the first five rows.

shape(): This function is used to get the dimensions (number of rows and columns) of a DataFrame.

groupby(): This function is used to group data in a DataFrame based on one or more columns.

to_csv(): This function is used to save a DataFrame as a CSV file.

##Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the DataFrame with a new index that starts from 1 and increments by 2 for each row.
Ans -

In [ ]:
import pandas as pd

def reindex_dataframe(df):
    new_index = pd.Index(range(1, len(df) * 2, 2))
    df_reindexed = df.set_index(new_index)
    return df_reindexed

# Example usage:
# Assuming you have a DataFrame 'df' with columns 'A', 'B', and 'C'
df = pd.DataFrame({'A': [10, 20, 30, 40], 'B': [50, 60, 70, 80], 'C': [90, 100, 110, 120]})

# Call the function to re-index the DataFrame
df_reindexed = reindex_dataframe(df)

# Print the re-indexed DataFrame
print(df_reindexed)

    A   B    C
1  10  50   90
3  20  60  100
5  30  70  110
7  40  80  120

##Q3.You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The function should print the sum to the console.

In [ ]:
# Assuming you have a DataFrame 'df' with columns 'values'
df = pd.DataFrame({'Values': [10, 20, 30, 40]})

   Values
0      10
1      20
2      30
3      40

In [ ]:
def calculate_sum(df):
    sum_values = 0
    count = 0

    for index, row in df.iterrows():
        sum_values += row['Values']
        count += 1

        if count == 3:
            break

    print("Sum of the first three values:", sum_values)
# Call the function to calculate the sum of the first three values
calculate_sum(df)

Sum of the first three values: 60

##Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 'Word_Count' that contains the number of words in each row of the 'Text' column.

In [1]:
import pandas as pd

def add_word_count(df):
    df['Word_Count'] = df['Text'].apply(lambda x: len(str(x).split()))
    return df
# Example DataFrame
df = pd.DataFrame({'Text': ['Hello, how are you?', 'I am doing great!', 'Python is awesome']})

# Call the function to add the 'Word_Count' column
df = add_word_count(df)

# Print the updated DataFrame
print(df)

                  Text  Word_Count
0  Hello, how are you?           4
1    I am doing great!           4
2    Python is awesome           3

##Q5. How are DataFrame.size() and DataFrame.shape() different?
Ans -
1)DataFrame.size: This attribute returns the total number of elements in the DataFrame, which is equal to the product of the number of rows and the number of columns. It represents the overall size or capacity of the DataFrame. The DataFrame.size attribute does not take into account the content of the DataFrame or the data types of the elements. It simply gives you the total count of elements.

2)DataFrame.shape: This attribute returns a tuple that represents the dimensions of the DataFrame in terms of rows and columns. The first element of the tuple is the number of rows, and the second element is the number of columns. It provides the actual structure or shape of the DataFrame.

##Q6. Which function of pandas do we use to read an excel file?

In [2]:
import pandas as pd

# Read an Excel file into a DataFrame
df = pd.read_csv('/content/taxonomy.csv.xls')

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email addresses in the format 'username@domain.com'. Write a Python function that creates a new column 'Username' in df that contains only the username part of each email address.

In [3]:
import pandas as pd

def extract_username(df):
    df['Username'] = df['Email'].str.split('@').str[0]
    return df
# Example DataFrame
df = pd.DataFrame({'Email': ['john.doe@example.com', 'jane.smith@example.com', 'alexander@example.com']})

# Call the function to add the 'Username' column
df = extract_username(df)

# Print the updated DataFrame
print(df)

                    Email    Username
0    john.doe@example.com    john.doe
1  jane.smith@example.com  jane.smith
2   alexander@example.com   alexander

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.

In [4]:
import pandas as pd

def select_rows(df):
    selected_rows = df[(df['A'] > 5) & (df['B'] < 10)]
    return selected_rows
# Example DataFrame
df = pd.DataFrame({'A': [2, 7, 4, 9, 6], 'B': [8, 5, 12, 3, 2], 'C': [10, 20, 30, 40, 50]})

# Call the function to select rows
selected_df = select_rows(df)

# Print the selected DataFrame
print(selected_df)

   A  B   C
1  7  5  20
3  9  3  40
4  6  2  50

Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean, median, and standard deviation of the values in the 'Values' column.

In [5]:
import pandas as pd

def calculate_statistics(df):
    mean = df['Values'].mean()
    median = df['Values'].median()
    std_dev = df['Values'].std()
    return mean, median, std_dev
# Example DataFrame
df = pd.DataFrame({'Values': [5, 10, 15, 20, 25]})

# Call the function to calculate statistics
mean, median, std_dev = calculate_statistics(df)

# Print the calculated statistics
print("Mean:", mean)
print("Median:", median)
print("Standard Deviation:", std_dev)

Mean: 15.0
Median: 15.0
Standard Deviation: 7.905694150420948

Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days for each row in the DataFrame. The moving average should be calculated using a window of size 7 and should include the current day.

In [6]:
import pandas as pd

def calculate_moving_average(df):
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()
    return df
# Example DataFrame
df = pd.DataFrame({
    'Date': pd.date_range('2023-01-01', periods=14),
    'Sales': [10, 12, 15, 14, 13, 11, 9, 10, 8, 12, 15, 16, 18, 20]
})

# Call the function to calculate the moving average
df = calculate_moving_average(df)

# Print the updated DataFrame
print(df)

         Date  Sales  MovingAverage
0  2023-01-01     10      10.000000
1  2023-01-02     12      11.000000
2  2023-01-03     15      12.333333
3  2023-01-04     14      12.750000
4  2023-01-05     13      12.800000
5  2023-01-06     11      12.500000
6  2023-01-07      9      12.000000
7  2023-01-08     10      12.000000
8  2023-01-09      8      11.428571
9  2023-01-10     12      11.000000
10 2023-01-11     15      11.142857
11 2023-01-12     16      11.571429
12 2023-01-13     18      12.571429
13 2023-01-14     20      14.142857

Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.
For example, if df contains the following values:
Date
0 2023-01-01
1 2023-01-02
2 2023-01-03
3 2023-01-04
4 2023-01-05
Your function should create the following DataFrame:

Date Weekday
0 2023-01-01 Sunday
1 2023-01-02 Monday
2 2023-01-03 Tuesday
3 2023-01-04 Wednesday
4 2023-01-05 Thursday
The function should return the modified DataFrame.

In [7]:
import pandas as pd

def add_weekday(df):
    df['Weekday'] = df['Date'].dt.strftime('%A')
    return df

In [8]:
# Example DataFrame
df = pd.DataFrame({'Date': pd.to_datetime(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05'])})

# Call the function to add the 'Weekday' column
df = add_weekday(df)

# Print the updated DataFrame
print(df)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [9]:
import pandas as pd

def select_rows_between_dates(df):
    start_date = '2023-01-01'
    end_date = '2023-01-31'
    selected_rows = df[df['Date'].between(start_date, end_date)]
    return selected_rows

In [10]:
# Example DataFrame
df = pd.DataFrame({'Date': pd.date_range('2023-01-01', periods=50)})

# Call the function to select rows between dates
selected_df = select_rows_between_dates(df)

# Print the selected DataFrame
print(selected_df)

         Date
0  2023-01-01
1  2023-01-02
2  2023-01-03
3  2023-01-04
4  2023-01-05
5  2023-01-06
6  2023-01-07
7  2023-01-08
8  2023-01-09
9  2023-01-10
10 2023-01-11
11 2023-01-12
12 2023-01-13
13 2023-01-14
14 2023-01-15
15 2023-01-16
16 2023-01-17
17 2023-01-18
18 2023-01-19
19 2023-01-20
20 2023-01-21
21 2023-01-22
22 2023-01-23
23 2023-01-24
24 2023-01-25
25 2023-01-26
26 2023-01-27
27 2023-01-28
28 2023-01-29
29 2023-01-30
30 2023-01-31

Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to be imported?

In [11]:
import pandas as pd